* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  background-color: #000000;
  color: #f1eaea94;
  border: 1px solid #f1eaea94;
  min-width: 50vh;
}

nav {
  background-color: rgb(26, 23, 23);
  menu {
    min-height: 99px;
    display: flex;
    gap: 20px;
    margin-right: 70px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 40px;
    list-style-type: none;
    li {
      background-color: black;

      border-radius: 5px;
      a {
        margin: 20px;
        margin-top: 5px;
        margin-bottom: 5px;
        color: brown;
        text-decoration: none;
        text-transform: capitalize;
      }
      div {
        display: flex;
        justify-content: left;
        align-items: left;
        grid-area: left;
        input {
          padding: 5px;
          border: none;
          border-radius: 10px;
        }
      }
    }
  }
}

header {
  background-color: #000000;
  padding: 20px;
  margin-bottom: 180px;
  margin-top: 185px;
}
section {
  margin-left: 40px;

  ul {
    list-style: none;
    display: flex;
    gap: 100px;
    li {
      border: 1px solid #f1eaea94;
      height: 50px;
    }
  }
}
footer {
  background-color: rgb(26, 23, 23);
  padding: 10px;
  text-align: center;
}

/* Class */

.logo {
  display: grid;
  justify-content: center;
  align-items: center;
}
