* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  background-color: #000000;
  color: #f1eaea94;
  border: 1px solid #f1eaea94;
  min-height: 100vh;
}
/* ELEMENTOS DE BODY */
nav {
  background-color: rgb(26, 23, 23);
  menu {
    min-height: 99px;
    margin-right: 70px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 40px;
    list-style-type: none;
    li {
     
      div {
        display: flex;
        justify-content: left;
        align-items: left;
        grid-area: left;
        gap: 300px;
        input {
          padding: 5px;
          border: none;
          border-radius: 10px;
        }
      }
      a {
        margin: 20px;
        margin-top: 5px;
        margin-bottom: 5px;
        color: brown;
        text-decoration: none;
        text-transform: capitalize;
      }
    }
  }
}

header {
  background-color: #000000;
  padding: 20px;
  margin-bottom: 200px;
  margin-top: 185px;
}
section {
  display: grid;
  justify-content: center;
  align-items: center;
  padding-bottom: 300px;
  ul {
    list-style: none;
    min-height: 100px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 300px;

    li {
      border: 1px solid #f1eaea94;
      height: 200px;
      width: 300px;
      display: grid;
      text-align: center;
      place-items: center;
      a {
        color: brown;
        text-decoration: none;
        text-transform: capitalize;
      }
    }
  }
}
footer {
  background-color: rgb(26, 23, 23);
  padding: 10px;
  text-align: center;
}

/* Class stylesCSS */
/* class menu listas */
.menu {
     border: 1px solid #000000;
     width: 100px;
     border-radius: 5px;
     display: grid;
     justify-content: center;
     text-align: center;
}
/* H1 ESTILOS*/
.logo {
  display: grid;
  justify-content: center;
  align-items: center;
}

/* INPUT  */
.input {
  display: flex;
  justify-content: left;
  align-items: left;
  grid-area: left;
}
